<div class="main min-vh-100">
  <div class="card shadow" style="width: 25rem;">
   <div class="card-body">
     <h3 class="card-title text-center">Same letters</h3>
     <p class="card-text text-center">
      <span [class]="compare(letter,enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index">{{letter}}</span>
      
     </p>
     <div class="text-center">
      <input type="text" style="width: 20rem;" (input)="getInputValue($event.target.value)">
    </div>
     <div *ngIf="randomText === enteredText">
      <h4 class="card-title mt-3">Bravo!</h4>
    </div>
  </div>
 </div>
</div>
